$subtitle-font-size: 3em;
$subtitle-font-size-phone: 1em;
$subtitle-font-size-tablet: 2em;
$subtitle-font-color: black;
$introduction-font-size: 1em;
$introduction-font-size-phone: 1.5em;
$introduction-font-size-tablet: 1.5em;
$introduction-font-color: black;
$movie-name-font: 2em;
$movie-name-font-phone: 2em;
$movie-name-font-hover: 3em;
$movie-name-color:black;
$text-font: Source Sans Variable;